.TabSelectors {
    text-decoration: none;
    list-style: none;
    margin-top: 30vh;
    font-size: 15pt;
    margin-left: 0px;
    position: absolute;
}
.TabDiv {
    height: 30px;
    vertical-align: middle;
    display: table-row;
    
}
.TabContent {
    display: table-cell;
    width: 200px;
    padding: 1px;
    height: 15px;
    background-color: grey;
    border-radius: 1px 15px 15px 1px;
}
.TabContent:hover {
    background-color: darkgray;
}
.TabDiv li {
    vertical-align: middle;
}
.SelectorDiv {
    display: table;
    border-spacing: 10px;
}